@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.whyWLetter,
.wantedTLetter,
.frontendFLetter,
.theyYLetter,
.question-mark,
.takeELetter,
.improveRLetter,
.gardeningELetter,
.developerRLetter,
.theirILetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter,
.rootOLetter,
.frontendDLetter,
.gardeningRLetter,
.wantedALetter,
.developerLLetter,
.gardeningILetter,
.becauseBLetter,
.developerPLetter,
.theirTLetter {
  font-size: 45px;
  font-weight: bold;
  color: rgb(255, 153, 0);
  text-decoration: overline;
  text-transform: lowercase;
  background-color: hsl(210, 87%, 50%);
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter,
.developerETwoLetter,
.theyHLetter,
.toOLetter,
.skillsSLetter,
.wantedELetter,
.frontendNLetter,
.improveMLetter,
.rootTLetter,
.improveELetter,
.gardeningALetter {
  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.didDLetter,
.frontendOLetter,
.gardeningNLetter,
.improvePLetter,
.skillsLLetter,
.developerEThreeLetter,
.wantedWLetter,
.upULetter,
.developerELetter,
.improveVLetter {
  font-size: 28px;
  background-color: yellow;
  font-weight: bold;
  color: black;
  text-decoration: dashed underline overline line-through red;
  text-transform: lowercase;
  font-family: "Abril Fatface", serif;
}

.didILetter,
.developerDLetter,
.gardeningGTwoLetter,
.theyELetter,
.theirHLetter,
.exclamation-mark,
.skillsSTwoLetter,
.rootOTwoLetter,
.theirRLetter,
.improveILetter,
.takeTLetter {
  font-size: 60px;
  font-weight: normal;
  text-decoration: none;
  background-color: hsl(299, 100%, 52%);
  font-family: "Ribeye Marrow", serif;
}

.didDTwoLetter,
.theELetter,
.frontendTLetter,
.developerVLetter,
.takeKLetter,
.gardeningGLetter,
.upPLetter,
.becauseCLetter,
.wantedDLetter,
.theyTLetter {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: black;
  font-size: 48px;
  font-family: "Honk", serif;
}

.theTLetter,
.takeALetter,
.improveOLetter,
.skillsILetter,
.frontendNTwoLetter,
.becauseALetter,
.gardeningNTwoLetter,
.rootRLetter,
.wantedNLetter,
.becauseETwoLetter,
.becauseELetter {
  font-size: 36px;
  background-color: pink;
  font-weight: normal;
  color: hsl(117, 100%, 89%);
  text-decoration: dashed underline lawngreen;
  font-family: "Creepster", serif;
}

.theHLetter,
.frontendRLetter,
.gardeningDLetter,
.skillsLTwoLetter,
.theirELetter,
.developerOLetter,
.toTLetter,
.becauseULetter,
.skillsKLetter,
.hyphen,
.becauseSLetter,
.frontendELetter {
  font-size: 72px;
  font-weight: 400;
  background-color: red;
  text-decoration: none;
  font-family: "Caesar Dressing", serif;
}
